{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "debug": true,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"]
        }
      }
    ]
  ]
}